.footer {
    height: 100%;
    width: 100%;
    background-color: rgba(60, 62, 71, 1);
    opacity: .85;
    padding-top: 1.875rem;
    color: #9e9fa3;
    width: 100%;
}

.portfolio-contact__footer .footer {
    background-color: #1c1f29;
}

.footer__block {
    width: 33.3333%;
    border-right: 1px solid #9c9d9f;
    float: left;
    height: 5.625rem;
    padding-left: 1.875rem;
    &:last-child {
        border: none;
    }
}

.footer__navigation-item {
    display: inline-block;
    margin-right: 2.5rem;
    font-size: 0;
    &:last-child {
        margin: 0;
    }
}

.footer__navigation-link {
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    &:hover {
        color: $color_hover;
    }
}

.footer__social {
    margin-top: 1.875rem;
}

.footer__bottom {
    height: 2.5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: $color_button;
    color: #fff;
    line-height: 2.5rem;
    vertical-align: middle;
}