.footer {
    height: 100%;
    width: 100%;
    background-color: rgba(60, 62, 71, 1);
    opacity: .85;
    padding-top: 1.875rem;
    color: #9e9fa3;
    width: 100%;
    @include tablet{
        padding: 0 20px 0 20px;
    }
}

.portfolio-contact__footer .footer {
    background-color: #1c1f29;
}

.footer__block {
    width: 33.3333%;
    border-right: 1px solid #9c9d9f;
    float: left;
    height: 5.625rem;
    padding: 0 1.875rem;
    &:last-child {
        border: none;
    };
    @include desktop(){
        &:first-child {
            width: 35%;
        };
        &:nth-child(2) {
            width: 40%;
        };
        &:nth-child(3) {
            width: 25%;
        };
    };
    @include tablet{
        border-right: none;
    }
    @include tablet{
        &:first-child {
            width: 100%;
            float: none;
            border-bottom: 1px solid #9c9d9f;
            text-align: center;
            height: 4.615rem;
            padding: 0;
        }
    };
    @include tablet{
        &:nth-child(2) {
            width: 60%;
            float: left;
            padding: 20px 0 0 0;
        };
    };
    @include tablet{
        &:nth-child(3) {
            width: 40%;
            float: right;
            padding: 20px 0 0 0;
            text-align: right;
        }
    }
}

.footer__description {
    @include tablet{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.footer__navigation {
    display: flex;
}

.footer__navigation-item {
    margin-right: 2.5rem;
    &:last-child {
        margin: 0;
    }
}

@media (max-width: 1420px) {
    .footer__navigation-item {
        margin: 0;
    }
    .footer__navigation {
        justify-content: space-between;
    }
}

@include tablet{
    .footer__navigation{
        justify-content: flex-start;
    };
    .footer__navigation-item{
        margin-right: 2.5rem;
    }
}

.footer__navigation-link {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    &:hover {
        color: $color_hover;
    }
}

// .footer__contact-text {
//     margin-top: 0.3125rem;
//     &:first-child {
//         margin-top: 0;
//     };
// }

.footer__social {
    margin-top: 1.875rem;
}

.footer__bottom {
    height: 2.5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: $color_button;
    color: #fff;
    line-height: 2.5rem;
    vertical-align: middle;
}