html,body,ul,p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

body {
  width: 100%;
}

ul {
  list-style: none;
}

label {
  display: block;
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.section {
  width: 100%;
}