.navigation__button {
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    background-color: $color_button;
    border-right: 2px solid #fff;
    cursor: pointer;
    &:hover {
        background-color: $color_hover;
    }
}