.footer
    .footer__block Этот сайт сделан в рамка обучения в Школе<br> онлайн обучения Loftscoll
    .footer__block
        ul.footer__navigation
            each item in [["Мои работы", "mywork.html"], ["Обо мне", "about.html"], ["Блок", "blog.html"], ["Авторизация", "index.html"]]
                li.footer__navigation-item
                    a.footer__navigation-link(href=item[1])= item[0]
        ul.footer__social.social.clearfix
            each item in ['vk', 'git', 'in']
                li.social__item
                    a(class='social__link social__link_' + item)
                        svg(width="25" height="25")
                            use(xlink:href="image/icon/sprite.svg#" + item class="social__icon")
    .footer__block
        p skype_ruslanmust
        p ruslanmust87@gmail.com
        p 8-999-133-75-57
        p Чишмы Социалистическая 9