.admin__avatar {
	&__title {
		@extend .panel-admin__title;
	}

}

.form-avatar {
	@extend .panel-admin__form;

	&__input {
		@extend .panel-admin__input;

		&_disabled {
			display: none;
		}
	}

	&__button-submit {
		margin-bottom: 10px;
		@extend .panel-admin__button;
	}

	&__input-test {
		margin-bottom: 2.8125rem;
		padding-left: 1.2rem;
		size: 18rem 2rem;
		line-height: 2rem;
		vertical-align: middle;
	}
}