@import '../../common/mixin.scss';

$color_button: #0548be;
$color_hover: #083c96;
$color_title: #474b57;
$color_text: #455a64;

.main__blog {
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.hero-blog {
    height: 25rem;
    background: url('../../images/main_bg.png') 0 70% no-repeat;
    background-size: cover;
    position: relative;
}

.blog__social {
    position: absolute;
    top: 1.875rem;
    left: 1.875rem;
    width: 8.4375rem;
}

.blog__hamburger {
    top: 1.875rem;
    right: 1.875rem;
}

.blog__user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero__traingle {
    position: absolute;
    bottom: 0;
}

.blog-content {
    background-color: #f2f0e8;
    padding-top: 3.125rem;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    @include tablet{
        height: initial;
    }
}

.blog-content__top{
    flex: 1;
    padding-bottom: 50px;
    position: relative;
    @include tablet{
        flex: none;
        height: 100vh;
    }
}

.blog-content__left {
    float: left;
    width: 21.6667%;
    height: 100%;
    position: absolute;
    transition: transform .3s linear;
    @include desktop{
        width: 25.8333%;
    }
    @include tablet{
        float: none;
        width: 30%;
        position: absolute;
        z-index: 2;
        transform: translateX(-100%);
        background-color: $color_button;
    }
    @include phone{
        width: 50%;
    }
}

.blog-content__left_active{
    transform: translateX(0%);
}

.blog-content__left-toggle{
    display: none;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(40%, -50%);
    background-color: $color_button;
    @include tablet{
        display: block;
    }
}

.blog-content__menu{
    @include tablet{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

.menu-acco__item {
    text-align: right;
    color: $color_text;
    margin-bottom: 1.25rem;
    height: 2.5rem;
    padding-right: 1.25rem;
    padding-left: 10%;
    cursor: pointer;
    &:hover {
        padding-right: 1.125rem;
        color: $color_hover;
        border-right: 2px solid $color_hover;
        font-weight: bold;
    }
    @include tablet{
        color: #fff;
        &:hover{
            color:#fff;
        }
    }
}

.menu-acco__description {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.acco__item-active  {
    padding-right: 1.125rem;
    color: $color_hover;
    border-right: 2px solid $color_hover;
    font-weight: bold;
    @include tablet{
        color: #fff;
        border-right: 2px solid #fff !important;
    }
}

.blog-content__right {
    float: right;
    position: relative;
    z-index: 1;
    padding-left: 6.1111%;
    padding-right: 22.2222%;
    width: 78.3333%;
    height: 100%;
    @include desktop{
        width: 74.1667%;
        padding-left: 8.3333%;
        padding-right: 9.1666%;
    };
    @include tablet{
        float: none;
        width: 100%;
        padding: 0 1.25rem;
    };
}

.blog-content__container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.blog-content__articles{
    position: absolute;
    top: 0;
    left: 0;
    transition: top .5s;
}

.blog-content__time {
    color: #083c96;
    margin-top: 1.5625rem;
    display: block;
}

.blog-content__text {
    margin-top: 1.5625rem;
    color: $color_text;
    margin-bottom: 1.5625rem;
}

.blog-content__code-pic {
    display: block;
    width: 100%;
}

.blog-content__line {
    background-color: #ecebe4;
    width: 100%;
    height: 0.3125rem;
    margin-top: 4.375rem;
    margin-bottom: 4.375rem;
}

.blog__footer {
    height: 11.5625rem;
    width: 100%;
    @include tablet{
        height: 17.6923rem;
    };
    @include phone{
        height: initial;
    }
}