.footer {
    height: 185px;
    background-color: #3c3e47;
    opacity: .9;
    padding-top: 30px;
    color: #9e9fa3;
}

.footer__block {
    width: 33.3333%;
    border-right: 1px solid #9c9d9f;
    float: left;
    height: 90px;
    padding-left: 30px;
    &:last-child {
        border: none;
    }
}

.footer__navigation-item {
    display: inline-block;
    margin-right: 40px;
}

.footer__navigation-link {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.footer__social {
    margin-top: 30px;
}