.preloader {
	size: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../images/night_prel_bg.jpg) center / cover no-repeat;
	z-index: 99;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s;
}

.loader {
	@util center;
	size: 5.5rem;
}

.container__ball{
	position: absolute;
	top:50%;
	left: 50%;
	size: 3.6rem;
	transform: translate(-50%, -50%) rotate(45deg);
	animation: rotate-ball 2s  cubic-bezier(0.835, 0.085, 0.170, 0.925) infinite;
}

.ball{
	size: 6px;
	border-radius: 100%;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0%;
}

@keyframes rotate-ball{
	form{
		transform: translate(-50%, -50%) rotate(45deg);
	}
	to{
		transform: translate(-50%, -50%) rotate(765deg);
	}
}

.preloader-svg {
	size: 100%;
}

.preloader-svg circle {
	stroke: #fff;
	stroke-width: 3px;
	fill: none;
	stroke-dasharray: 177px;
	stroke-dashoffset: 0;
	transform-origin: 50%;
	transform: rotate(-90deg);
	animation:  circle-full 2s infinite cubic-bezier(0.835, 0.085, 0.170, 0.925) reverse;
}

@keyframes circle-full {
	from {
		stroke-dashoffset: 0;
	}

	to {
		stroke-dashoffset: 177px;
	}
}

.preloader__persents{
    @util center;
    color: #fff;
    font: 1rem solid 'Roboto', sans-serif;
}