.main-about {
    color: #fff;
    font-family: 'Roboto';
}

.hero {
    background: url('image/welcome_bg.png') 0 70% no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

.about__hamburger {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.about__social {
    position: absolute;
    top: 30px;
    left: 30px;
}

.social {
    font-size: 0;
    text-align: center;
}

.social__link {
    display: block;
    height: 100%;
    width: 100%;
}

.social__item {
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
    &:last-child {
        margin-right: 0;
    }
}

.social__icon {
    fill: #fff;
    width: 55px;
    height: 55px;
    &:hover {
        fill: #083c96;
    }
}

.about__user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about__img {
    opacity: 0.15;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
    height: 270px;
}

.hero__traingle {
    position: absolute;
    bottom: 0;
}