extends ../template

block  var
    - var title = "Добро пожаловать!"
    
block content
    section.section.welcome
        .welcome__autorize.autorize Авторизироватся
        .welcome__center.welcome__center_author
            .welcome__center-top
                .welcome__user.author
                    .author__img
                    .author__name Руслан Мустафин
                    .author__description Личный сайт веб-разработчика
                    ul.social.clearfix
                        each item in ['vk', 'git', 'in']
                            li.social__item
                                a(class='social__link social__link_' + item)
                                    svg(width="25" height="25")
                                        use(xlink:href="image/icon/sprite.svg#" + item class="social__icon")
            ul.welcome__buttons.navigation
                li.navigation__button: a(href='mywork.html' class='navigation__link') Мои работы
                li.navigation__button: a(href='about.html' class='navigation__link') Обо мне
                li.navigation__button: a(href='blog.html' class='navigation__link') Блог
        .welcome__center.welcome__center_login
            .welcome__center-top
                form.form(action="")
                    h1.form__title.title Авторизуйтесь
                    input.form__login(type="text" name='login')
                    input.form__password(type="password" name='password')
                    input.form__check(type="checkbox" name='capcha')
                    input.form__radio(type="radio" name='human')
                    input.form__radio(type="radio" name='human')
            ul.welcome__buttons.navigation
                li.navigation__button: a(href='mywork.html' class='navigation__link') Мои работы
                li.navigation__button: a(href='about.html' class='navigation__link') Обо мне
                
