.block__skills {
	display: table;
	border-collapse: separate;
	border-spacing: 9px;
	margin-right: 1.875rem;
	margin-bottom: 2.8125rem;
	&:nth-of-type(1){
		float: left;
		@include phone{
			float: none;
		}
	}
	&:nth-of-type(3){
		@include phone{
			margin-top: 2.8125rem;	
		}
	}
}

.frontend__caption {
	display: table-caption;
}

.table__row {
	display: table-row;
}

.table__cell {
	display: table-cell;
	font-weight: 400;
	vertical-align: middle;
	overflow: hidden;
	&:nth-child(1) {
		width: 115px;
		padding-left: 0.9375rem;
	}

	&:nth-child(2) {
		text-align: center;
		background-color: #fff;
		border-radius: 4px;
		size: 45px 35px;
	}	
}

.panel-admin__about-input {
	size: 100%;
	text-align: center;
	border: none;
	outline: none;
}

.button__about{
	margin-bottom: 10px;
	@extend .panel-admin__button;
}