.admin-about {
	&__button-submit {
		margin-bottom: 10px;
		@extend .panel-admin__button;
	}
	&__skills {
		margin-right: 1.875rem;
		margin-bottom: 2.8125rem;
	}

	&__title {
		@extend .panel-admin__title;
	}

	&__button {
		margin-bottom: 10px;
		@extend .panel-admin__button;
	}
}

.skills-table {
	display: table;
	border-collapse: separate;
	border-spacing: 9px;

	&:nth-of-type(1) {
		float: left;

		@include phone {
			float: none;
		}
	}

	&:nth-of-type(3) {
		@include phone {
			margin-top: 2.8125rem;
		}
	}

	&__input {
		size: 100%;
		text-align: center;
		border: none;
		outline: none;
		border-radius: 5px;
	}

	&__title {
		display: table-caption;
	}

	&__row {
		display: table-row;
	}

	&__cell {
		display: table-cell;
		font-weight: 400;
		vertical-align: middle;
		overflow: hidden;

		&:nth-child(1) {
			width: 115px;
			padding-left: 0.9375rem;
		}

		&:nth-child(2) {
			text-align: center;
			background-color: #fff;
			border-radius: 4px;
			size: 45px 35px;
		}
	}
}