.hamburger-menu
    ul.hamburger-menu__list
        li.hamburger-menu__item
            a(href="mywork.html" class='hamburger-menu__link') Мои работы
        li.hamburger-menu__item
            a(href="blog.html" class='hamburger-menu__link') Блог
        li.hamburger-menu__item
            a(href="about.html" class='hamburger-menu__link') Обо мне
        li.hamburger-menu__item
            a(href="index.html" class='hamburger-menu__link') Авторизация