.slider {
    height: 100%;
}

.slider__left{
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
    @include tablet{
        float: none;
        width: 100%;
        height: 25%;
    }
    @include phone{
        height:40%;
    }
}

.slider__left-center{
    @include align-center;
    @include tablet{
        width: 100%;
    }
}

.slider__right-top{
    float: right;
    width: 50%;
    height:70%;
    position: relative;
    background-color: #e3e2de;
    @include tablet{
        float: none;
        width: 100%;
        height: 50%;
    }
    @include phone{
        height:40%;
    }
}

.slider__right-bottom {
    float: right;
    width: 50%;
    height:30%;
    @include tablet{
        float: none;
        width: 100%;
        height: 25%;
    }
    @include phone{
        height:20%;
    }
}

.slider__slide-down {
    float: left;
    height: 100%;
    width: 50%;
    position: relative;
}

.slider__slide-up {
    float: right;
    height: 100%;
    width: 50%;
    position: relative;
}

.slider__container {
    height: 400%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.slider__item {
    height: 25%;
    position: relative;
}

.slider__img {
    display: block;
    max-width:80%;
    @include align-center;
}

.slider__item_backgroud-1 {
    background:  url('../images/slide_2_small.png') center no-repeat;
    
    background-size: cover;
}

.slider__item_backgroud-2 {
    background: url('../images/slide_3_small.png') center no-repeat;
    background-size: cover;
}

.slider__item-color {
    background-color:  rgba(125,127,138, .7);
    height: 100%;
    cursor: pointer;
    &:hover {
        background-color: rgba(170,171,183, .7);
    }
    &:hover .slider__arrow_transform-up {
        top: 40%;
        transition: top .2s;
    }
    &:hover .slider__arrow_transform-down {
        top: 60%;
        transition: top .2s;
    }
}

.slider__arrow {
    display: block;
    @include align-center;
}