.slider
    .slider__content
        ul.slider__container
            li.slider__item
                img.slider__slide(src=require('../../../images/slide_1.png'))
    .slider__slide-down
        ul.slider__container
            li.slider__item.slider__item_backgroud-1
                .slider__item-color
                    img.slider__arrow.slider__arrow_transform-down(src=require('../../../images/icons/arrow_down.svg'))
    .slider__slide-up
        ul.slider__container
            li.slider__item.slider__item_backgroud-2
                .slider__item-color
                    img.slider__arrow.slider__arrow_direction-up.slider__arrow_transform-up(src=require('../../../images/icons/arrow_down.svg'))