.title {
    color: #fff;
    font-family: 'Sansus Webissimo', sans-serif;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
}

.title_color-gray {
    color: $color_title;
}

.title_font-size-63 {
    font-size: 3.9375rem;
}

.title_font-size-35 {
    font-size: 2.1875rem;
    line-height: 2.5625rem;
}

.title_font-size-28 {
    font-size: 1.75rem;
}

.title_text-transform-uppercase {
    text-transform: uppercase;
}

.title_width-280 {
    width: 17.5rem;
}

.title_text-align-left {
    text-align: left;
}

.line {
    width: 5.3125rem;
    height: 0.125rem;
    background-color: #9c9d9f;
    margin: auto;
}