.title {
    color: #fff;
    font-family: 'Sansus Webissimo', sans-serif;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
}

.title_color-gray {
    color: var(--color-title);
}

.title_font-size-63 {
    font-size: 3.9375rem;
}

.title_font-size-35 {
    font-size: 2.1875rem;
    line-height: 2.5625rem;
}

.title_font-size-28 {
    font-size: 1.75rem;
}

.title_text-transform-uppercase {
    text-transform: uppercase;
}

.title_width-280 {
    width: 17.5rem;
}

.title_text-align-left {
    text-align: left;
}

.line {
    width: 5.3125rem;
    height: 0.125rem;
    background-color: #9c9d9f;
    margin: auto;
}

.arrow{
    cursor: pointer;
    opacity: .5;
    &:hover{
        opacity: 1;
    }
}

.form__login-warning, .form__password-warning, .form__capcha-warning, .form__radio-warning{
    //opacity: 0;
    visibility: hidden;
    transition: visibility .2s linear;
    background-color: #fff;
    size: 12rem 3rem;
    border-radius: 3px;
    border: 1px solid gray;
    position: absolute;
    z-index: 3;
    top: 124%;
    left: 20%;
    color: var(--color-text);
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
    box-shadow: 2px 2px 4px gray;
    &::after{
        content: '';
        display: block;
        background-color: #fff;
        border-top: 1px solid gray;
        border-left: 1px solid gray;
        size: 1rem;
        position: absolute;
        left: 10%;
        top: -20%;
        transform: rotate(45deg);
        z-index: 100;
    }
}

.form__capcha-warning{
    top: 165%;
}

.form__radio-warning{
    top: 165%;
    left: -24%;
    width: 17rem;
}