@font-face {
	font-family: 'Roboto';
	src: url('../common/fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
		url('../common/fonts/Roboto/Roboto-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../common/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
		url('../common/fonts/Roboto/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sansus Webissimo';
	src: url('../common/fonts/SansusWebissimo.woff2') format('woff2'),
		url('../common/fonts/SansusWebissimo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}