@mixin desktop(){
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin laptop(){
    @media (max-width: 992px) {
        @content;
    }
}

@mixin tablet(){
    @media (max-width: 768px) {
        @content;
    }
}

@mixin phone(){
    @media (max-width: 480px) {
        @content;
    }
}

@mixin align-center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}