form.form(action="")
    h1.form__title.title.title_text-transform-uppercase.title_font-size-35  Связатся со мной
    .line
    input.form__name(type="text" id='name' name='name' value='Ваше имя')
    input.form__email(type='email' id='email' name='email')
    textarea.form__message(name="message", cols="20", rows="5")
    input.form__submit(type='submit')
    input.form__reset(type='reset')