$color_button: #0548be;
$color_hover: #083c96;
$color_title: #474b57;
$color_text: #455a64;

@import '../../common/mixin.scss';


.main__admin {
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	letter-spacing: .05rem;
	@include phone{
		height: auto;
	}
	@include device_landscape{
		height: auto;
	}
}

.header-admin {
	height: 80px;
	background-color: $color_button;
	color: #f0efe9;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.875rem;
	@include phone{
		flex-direction: column-reverse;
		justify-content: space-evenly;
		padding: 0;
	}
}


.header-admin__link-back {
	text-decoration: underline;
	cursor: pointer;
	color: #fff;
}

.header__title {
	font-size: 1.75rem;
	@include phone{
		text-align: center;
		font-size: 21px;
	}
}

.panel-admin {
	height: calc(100% - 80px);
	color: #474b57;
	
}

.tabs {
	height: 60px;
	background-color: #f0efe9;
	display: flex;
	justify-content: flex-start;
	@include phone{
		flex-direction: column;
		height: 185px;
	}
}

.tabs__tab {
	display: none;
}

.tabs__title {
	border-right: 2px solid #fff;
	cursor: pointer;
	height: 100%;
	width: 11.25rem;
	text-align: center;
	line-height: 60px;
	@include tablet{
		flex-grow: 1;
	}
	@include phone{
		height: 47px;
		line-height: 47px;
		width: 100%;
		border-right: none;
		border-bottom: 2px solid #fff;
	}
}

.active__tab {
	color: $color_button;
	background-color: #fff;
}

.panel-admin__content {
	position: relative;
	height: calc(100% - 3.75rem);
	background: url('../../images/main_bg.jpg')  no-repeat;
	background-position: center;
	background-size: cover;
	padding-left: 1.875rem;
	padding-right: 1.875rem;
	@include phone{
		background-position: center bottom;
		height: auto;
	}
}

.panel-admin__content-bg {
	position: absolute;
	size: 100%;
	top: 0;
	left: 0;
	background-color: #dfe2ea;
	opacity: .9;
	z-index: 1;
}

.panel-admin__item {
	size: 100%;
	display: none;
	padding-top: 3.125rem;
	position: relative;
	z-index: 2;
}

.active__panel-item {
	display: block;
}

.panel-admin__title {
	font-size: 21px;
	//margin-top: 3.125rem;
}

.block__frontend {
	display: table;
	border-collapse: separate;
	border-spacing: 9px;
	margin-top: 2.8125rem;
	margin-right: 1.875rem;
	
	&:nth-of-type(1){
		float: left;
		@include phone{
			float: none;
		}
	}
	&:nth-of-type(2) {
		
		
	}
	&:nth-of-type(3){
		margin-top: 1.8125rem;
		@include phone{
			margin-top: 2.8125rem;	
		}
	}
}

.frontend__caption {
	display: table-caption;
}

.table__row {
	display: table-row;
}

.table__cell {
	display: table-cell;
	font-weight: 400;
	vertical-align: middle;
	overflow: hidden;
	&:nth-child(1) {
		width: 115px;
		padding-left: 0.9375rem;
	}

	&:nth-child(2) {
		text-align: center;
		background-color: #fff;
		border-radius: 4px;
		size: 45px 35px;
	}	
}

.admin__button {
	size: 7.5rem 2.8125rem;
	background-color: $color_button;
	color: #fff;
	text-align: center;
	line-height: 2.8125rem;
	border-radius: 5px;
	border: 0;
	outline: 0;
	cursor: pointer;
	&:hover {
		background-color: $color_hover;
	}
}

.panel-admin__title-2 {
	font-size: 1rem;
	margin-top: 2.8125rem;
}

.button__about{
	margin-top: 1.9375rem;
	margin-bottom: 10px;
}

.panel-admin__about-input{
	size: 100%;
	text-align: center;
	border: none;
	outline: none;
}

.panel-admin__blog-form {
	display: flex;
	flex-direction: column;
}

.panel-admin__blog-form {
	color: #acafb0;

	& input {
		width: 18.75rem;
		height: 2.8125rem;
		border: none;
		outline: none;
		border-radius: 5px;
		margin-top: 1.25rem;
		padding-right: 1.25rem;
		padding-left: 1.25rem;

	}

	& textarea {
		width: 31.25rem;
		height: 10.625rem;
		border: none;
		outline: none;
		border-radius: 5px;
		margin-top: 1.25rem;
		padding: 1rem 1.25rem;
		@include tablet{
			size: 500px 300px;
		}
		@include phone{
			size: 100% 250px;
		}
	}
}

.button__blog {
	margin-top: 5.25rem;
	margin-bottom: 10px;
}

.form-admin__file {
	display: none;
}

.form-admin__file-download{
	margin-top: 1.25rem;
	size:  18.75rem 2.1875rem;
	position: relative;
	line-height: 2.1875rem;
	padding-left: 2.8125rem;
}

.form-admin__file-label {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	height: 100%;
	width: 2.1875rem;
	background: url(../../images//icons/image_donload.svg)   no-repeat;
	background-position: 0% 0%;
	background-size: 100% 100%;
}

.form-admin__file-discription{	
	color: $color_button;
}

.button__works {
	margin-top: 13.7rem;
	margin-bottom: 10px;
	@include tablet{
		margin-top: 2.1875rem;
	}
}

.modal-admin{
	size: 100%;
    background-color: rgba(113, 111, 120, .5);
	position:absolute;
	z-index: 3;
    top: 0;
    left: 0;
    // transform: translate(-50%, -50%);
    display:  none;
}

.modal-admin__window{
    color:black;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    width: 17.5rem;
    height: 6.875rem;
    background-color: #fff;
    border-radius:.5rem;
    display: flex;
    justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.modal-admin__close{
	size: 7.5rem 2.8125rem;
	background-color: $color_button;
	color: #fff;
	text-align: center;
	line-height: 2.8125rem;
	border-radius: 5px;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin-top: 2.05rem;
	&:hover {
		background-color: $color_hover;
	}
}