extends ../base

block  var
    - var title = "Добро пожаловать!"
    
block content
    main.main.main-portfolio
        include ../../components/blocks/hamburger_menu/hamburger_menu.pug
        section.section.hero
            .hero__hamburger.hamburger-icon
                include ../../images/icons/hamburger.svg
            .hero__social
                include ../../components/blocks/social/social
            img.hero__img(src=require('../../images/stars1.svg'), alt="")
            .hero__user.author-title
                .author-title__img
                .author-title__name Руслан Мустафин
                .author-title__description Личный сайт веб-разработчика
            h1.hero__title Мои работы
            svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="hero__traingle")
                polygon(class = "left" points="0,0   0,86   500.8,86   500.8,45.5" fill="#f2f0e8")
                polygon(class = "right" points="1000,0   1000,86   500,86   500,45.5" fill="#eae8e2")
            .hero__arrow.arrow__down
                include ../../images/icons/arrow_down.svg