extends ../base

block  var
    - var title = "Добро пожаловать!"
    
block content
    main.main.main-portfolio
        include ../../components/blocks/hamburger_menu/hamburger_menu.pug
        section.section.hero
            .hero__hamburger.hamburger-icon
                include ../../images/icons/hamburger.svg
            .hero__social
                include ../../components/blocks/social/social
            img.hero__img(src=require('../../images/stars1.svg'), alt="")
            .hero__user.author-title
                .author-title__img
                .author-title__name Руслан Мустафин
                .author-title__description Личный сайт веб-разработчика
            svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 180" preserveaspectratio="none" class="hero__traingle")
                polygon(class = "left" points="0,0   0,180   500,180   500,85" fill="rgba(13,15,31, .9)")
                polygon(class = "right" points="1000,0   1000,180  500,180   500,85" fill="rgba(13,15,31, .9)")
            img.hero__img-stars-2(src=require("../../images/stars2.svg") alt="")
            h1.hero__title Мои работы
            .hero__arrow
                img.arrow__down(src=require('../../images/icons/arrow_down.svg'))
        section.section.portfolio-content.clearfix
            .portfolio-content__left
                .portfolio-content__left-center
                    h1.title.title_color-gray.title_font-size-35.title_text-transform-uppercase Сайт школы онлайн образования
                    .portfolio-content__left-line.line
                    .portfolio-content__left-text 
                        p Html, CSS, Javascript
                    a.portfolio-content__left-link(href='#')
            .portfolio-content__right
