@import '../../common/mixin.scss';

$color_button: #0548be;
$color_hover: #083c96;
$color_title: #474b57;
$color_text: #455a64;

.main-portfolio {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.hero {
    background: url('../../images/main_bg.png') 0 70% no-repeat;
    background-size: cover;
    position: relative;
}

.hero__hamburger {
    top: 1.875rem;
    right: 1.875rem;
}

.hero__social {
    position: absolute;
    top: 1.875rem;
    left: 1.875rem;
    width: 8.4375rem;
}

.hero__user {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.hero__img {
    opacity: 0.15;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 28.75rem;
    height: 16.875rem;
}

.hero__arrow {
    position: absolute;
    bottom: 32%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.hero__title {
    position: absolute;
    bottom: 8.9743%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    @include desktop{
        bottom: 6%;
    }
    @include phone{
        font-size: 2.9167rem;
    }
}

.hero__img-stars-2 {
    position: absolute;
    left: 50%;
    bottom: 3.3%;
    opacity: .25;
    width: 13%;
    // height: 11.1875rem;
    transform:  translateX(-50%) rotate(190deg);
    @include desktop{
        transform: translate(-50%, 10%) rotate(190deg) ;
    }
}

.hero__traingle {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 43.59%;
    @include desktop{
        height: 37.18%;
    };
}

.portfolio-content__left {
    float: left;
    width: 50%;
    height: 100%;
    background-color: #f2f0e8;
    position: relative;
}

.portfolio-content__right {
    float: right;
    width: 50%;
    height: 100%;
    background-color: #d2d2d2;
}

.portfolio-content__left-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio-content__left-line {
    margin-top: 1.875rem;
}

.portfolio-content__left-text {
    margin-top: 1.875rem;
    text-transform: uppercase;
    color: $color_hover;
    font-family: 'Roboto';
    font-weight: 500;
    text-align: center;
}

.portfolio-content__left-link {
    display: block;
    width: 12.5rem;
    height: 2.8125rem;
    margin: auto;
    margin-top: 3.4375rem;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: $color_button;
    line-height: 2.8125rem;
    &:hover {
        background-color: $color_hover;
    }
    &::after {
        content: '';
        float: left;
        width: 22.5%;
        height: 100%;
        background: url('../../images/icons/link.svg') no-repeat;
        background-position: center;
    }
    &::before {
        content: 'Посмотреть сайт';
        float: right;
        width: 77.5%;
        height: 100%;
    }
}

.portfolio-content__slider {
    height: 100%;
}

.portfolio-contact {
    height: 84.375rem;
    background: url('../../images/beacon.png') no-repeat;
    background-size: cover;
    padding-top: 4.375rem;
    position: relative;
}

.portfolio-contact__title {
    margin: auto;
    width: 21.25rem;
}

.portfolio-contact__img {
    opacity: .2;
    position: absolute;
    top: 8.3vh;
    left: 50%;
    transform: translateX(-50%) rotate(30deg) scale(2);
}

.portfolio-contact__features {
    width: 47.5rem;
    margin: auto;
    margin-top: 4.375rem;
}

.portfolio-contact__features-item {
    width: 48%;
    background: url('../../images/icons/quote.svg') 0 45% no-repeat;
}

.portfolio-contact__features-item_float-left {
    float: left;
}

.portfolio-contact__features-item_float-right {
    float: right;
}

.portfolio-contact__photo {
    border-radius: 50% 50%;
    display: block;
    height: 5rem;
    width: 5rem;
    background-size: cover;
    background-position: center;
    margin: auto;
}

.portfolio-contact__photo_kovalchuk {
    background-image: url('../../images/photo_1.png');
}

.portfolio-contact__photo_sabancev {
    background-image: url('../../images/photo_2.png');
}

.portfolio-contact__features-text {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    line-height: 1.625rem;
    font-family: "Roboto", sans-serif;
    font-style: italic;
}

.portfolio-content__quote-writer {
    text-align: center;
    font-weight: bold;
    display: block;
}

.portfolio-content__quote-writer-profesion {
    text-align: center;
    display: block;
}

.portfolio-contact__form {
    margin: auto;
    margin-top: 4.6875rem;
    width: 23.75rem;
    height: 28.75rem;
}

.portfolio-contact__footer {
    position: absolute;
    bottom: 0;
    height: 11.5625rem;
    width: 100%;
}