ul.social.clearfix
    each item in ['vk', 'github', 'in']
        li.social__item
            a(class='social__link')
                object(type="image/svg+xml" data=require(`../../../images/icons/${item}.svg`) class="social__icon")